{% extends 'base.html.twig' %}

{% block title %}WoolTree{% endblock %}

{% block body %}
    <!-- ***** Services Area Start ***** -->
    <section class="uza-services-area section-padding-80-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="post-content text-center mb-50">
                        <h1>WoolTree<strong class="text-secondary">.</strong></h1>
                        <h3 class="text-secondary">{% trans %}Share your links simply and quickly{% endtrans %}</h3>

                        <div class="col-12">
                            <img class="mb-50" src="img/moockup.svg" alt="">
                        </div>

                        <div class="row">
                            <div class="col-md-4 col-sm-12 mb-4">
                                <div class="card border-light">
                                    <h5 class="card-header">{% trans %}Number of clicks on links{% endtrans %}</h5>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ visit | length }}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 mb-4">
                                <div class="card border-light">
                                    <h5 class="card-header">{% trans %}Number of users{% endtrans %}</h5>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ user | length }}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 mb-4">
                                <div class="card border-light">
                                    <h5 class="card-header">{% trans %}Number of links shared{% endtrans %}</h5>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ link | length }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- ***** Services Area End ***** -->

 <!-- ***** Services Area Start ***** -->
    <section class="uza-services-area section-padding-80-0">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>{% trans %}Our Services{% endtrans %}</h2>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Service Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-service-area mb-80">
                        <!-- Service Icon -->
                        <div class="service-icon">
                            <i class="icon_cone_alt"></i>
                        </div>
                        <h5>{% trans %}Just share{% endtrans %}</h5>
                        <p>{% trans %}Share your links simply and quickly on your social media{% endtrans %}</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-service-area mb-80">
                        <!-- Service Icon -->
                        <div class="service-icon">
                            <i class="icon_piechart"></i>
                        </div>
                        <h5>{% trans %}Count the clicks{% endtrans %}</h5>
                        <p>{% trans %}Evaluate the number of clicks on your links from your WoolTree{% endtrans %}</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-service-area mb-80">
                        <!-- Service Icon -->
                        <div class="service-icon">
                            <i class="icon_easel"></i>
                        </div>
                        <h5>{% trans %}Analyze over time{% endtrans %}</h5>
                        <p>{% trans %}Analyze the performance of your links over time and assess the relevance of your marketing actions{% endtrans %}</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ***** Services Area End ***** -->

{% endblock %}
