<h1>Hi!</h1>

<p>{% trans %}To reset your password, please visit the following link{% endtrans %}</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>{% trans %}This link will expire in{% endtrans %} {{ tokenLifetime|date('g') }} {% trans %}hour{% endtrans %}(s).</p>

<p>Cheers!</p>
