{% extends 'base.html.twig' %}

{% block title %}WoolTree - {{ app.user.pseudo }}{% endblock %}

{% block body %}
    
    <h1>{% trans %}Nombre de clicks dans le temps{% endtrans %}</h1>

    <canvas id="graph" width="400" height="100"></canvas>

    {% block javascript %}
       <script>
            var ctx = document.getElementById('graph');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: {{ dates|raw }},
                    datasets: [{
                        label: '# de click',
                        data: {{ count|raw }},
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
    {% endblock %}

{% endblock %}
