{% extends 'base.html.twig' %}

{% block title %}WoolTree | {{ app.user.pseudo }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% for message in app.flashes('success') %}
    <div class="alert alert-success alert-dismissible fade show">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
{% for message in app.flashes('danger') %}
    <div class="alert alert-danger alert-dismissible fade show">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

<h3>{% trans %}Your links dashboard{% endtrans %}</h3>

<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('link_create') }}"><i class="fas fa-plus-circle"></i> {% trans %}Add new link{% endtrans %}</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-cog"></i> {% trans %}Customization{% endtrans %}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ path('user_customization') }}">{% trans %}My options{% endtrans %}</a>
          <a class="dropdown-item" href="{{ path('user_avatar') }}">{% trans %}Avatar{% endtrans %}</a>
          {% if app.user.newsletterIsActived %}
            <a class="dropdown-item" href="{{ path('user_newsletter') }}">{% trans %}Newletter Members{% endtrans %}</a>
          {% endif %}
        </div>
      </li>
    </ul>
  </div>
</nav>

<table class="table">
  <thead>
    <tr>
      <th scope="col">URL</th>
    </tr>
  </thead>
  <tbody>
    {% for link in links %}
        <tr>
            <td class="align-middle">
              <p><strong>{{ link.name }}</strong></p>
              <button type="button" class="btn btn-outline-success">
                <a href="{{ path('link_edit', {'slug': link.slug}) }}"><i class="fas fa-edit"></i></a>
              </button>
              {% if link.isActivated %}
                <button type="button" class="btn btn-outline-secondary">
                  <a href="{{ path('link_visibility', {'slug': link.slug}) }}"><i class="fas fa-eye"></i></a>
                </button>
              {% else %}
                  <button type="button" class="btn btn-outline-secondary">
                    <a href="{{ path('link_visibility', {'slug': link.slug}) }}"><i class="fas fa-eye-slash"></i></a>
                  </button>
              {% endif %}
              <button type="button" class="btn btn-outline-info">
                <a href="{{ path('link_up', {'slug': link.slug}) }}"><i class="fas fa-plus-square"></i></a>
              </button>
              <button type="button" class="btn btn-info">
                <span class="badge badge-light">{{ link.scale }}</span>
              </button>
              <button type="button" class="btn btn-outline-info">
                <a href="{{ path('link_down', {'slug': link.slug}) }}"><i class="fas fa-minus-square"></i></a>
              </button>
              <button type="button" class="btn btn-outline-secondary">
                <a href="{{ path('link_stats', {'slug': link.slug}) }}"><i class="fas fa-chart-line"></i> <span class="badge badge-secondary">{{ link.visitLinks|length}}</span></a>
              </button>
              <button type="button" class="btn btn-outline-danger">
                <a href="{{ path('link_delete', {'slug': link.slug}) }}"><i class="fas fa-trash-alt"></i></a>
              </button>
            </td>
        </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
