{% extends 'base.html.twig' %}

{% block title %}WoolTree | {{ app.user.pseudo }}{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success alert-dismissible fade show">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
{% for message in app.flashes('danger') %}
    <div class="alert alert-danger alert-dismissible fade show">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

<h3>{% trans %}Newsletter Members{% endtrans %}</h3>

<a href="{{ path('user_newsletter_export') }}" class="btn btn-outline-secondary" role="button" aria-disabled="true">{% trans %}Export to CSV{% endtrans %}</a>

<div class="article-container my-1">
    <table class="table">
        <thead>
            <tr>
            <td><strong>{% trans %}Newsletter Members{% endtrans %}</strong></th>
            </tr>
        </thead>
        <tbody>
            {% for newsletter in newsletters %}
                <tr>
                    <td>{{ newsletter.email }}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>  
</div>

{% endblock %}
